
.paginate{
    width:80% ;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .paginate a {
    padding: 10px;
    margin:8px;
    border-radius: 5px;
    color: #00889a;
    cursor: pointer
  }