.profile-image{
    background-color: white;
    height: 30rem;
    width: 23rem;
    margin-top: 1.8rem;
    margin-left: 4rem;
    border-radius: 0.5rem;
}

.details-div{
    display: flex;
    
}
.movieTitle{
    color: white;
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 2.5rem;
  
}

.description{
    color: white;
    margin-top: 10rem;
  margin-left: -4rem;
  padding-right: 4rem;
}


.btn{
height: 3rem;
    width: 10rem;
    background-color: rgb(97,207,122);
    border-radius: 0.2rem;
    border: none;
   
}

.release{
   font-size: 1rem; 
}

.data-plot{
    margin-left: -3rem;
    color: rgb(165, 165, 165);
}

.release-date{
   font-size: 1rem; 
   margin-top: -0.5rem;
   margin-left: -4rem;
   color: rgb(165, 165, 165);
}

.release-data{
    font-size: 1rem;
    color: rgb(165, 165, 165);
    margin-top: -0.5rem;
    margin-left: 0.2rem;
}

.movie-logo {
    color:black;
    margin-left: -7rem;
    margin-top: 0.7rem;
    width: 30px;
    height: 23px;
}

.trailer-text{
    font-size: 1rem;
    margin-top: -1.5rem;
    font-size: 1rem;
    margin-left: -0.5rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: black;
}

.btn-div{
    margin-top: -15rem;
    margin-left: 30.5rem;
    
}